# Python
.dlt
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store
.env
.env.*
*.sqlite3

# Django stuff
staticfiles/
media/
documents/
vectorstore/
chroma/
celerybeat-schedule
*.log
# Virtual environment
.venv/
venv/

# Prefect
.prefect/

# IDE
.vscode/
.idea/
