# Django & API
Django
djangorestframework
django-environ

# LLM / Embeddings
openai
langchain-openai

# PDF + OCR
pytesseract
Pillow
pdfplumber
pdf2image

# Vector DB
chromadb
overrides==7.4.0

# ETL
dlt

# Logging
loguru

# PostgreSQL driver
psycopg2-binary

# Orchestration
prefect

# Utils
python-dotenv

# Testing
pytest
pytest-django
pytest-cov

# Deployment (Render)
gunicorn
