# Web framework
Django
djangorestframework
django-environ

# PDF + OCR
pytesseract
Pillow
pdfplumber
pdf2image

# Vector DB
chromadb

# ETL
dlt

# Logging
loguru

# PostgreSQL driver
psycopg2-binary

# Orchestration
prefect

# Utils
python-dotenv

# Testing
pytest
pytest-django
pytest-cov

gunicorn

